.react-datepicker-wrapper {
  width: 100%;
}

.react-datepicker__input-container {
  width: 100%;
}

.react-datepicker__time-container {
  width: 100px;

}

.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box {
  width: 100px;
}

.react-datepicker__navigation--next--with-time:not(.react-datepicker__navigation--next--with-today-button) {
  right: 110px;
}

.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item {
  height: 20px;
}

.ui .button {
  margin-top: .25em;
}

.column {
  max-width: 480px;
}
