.ui.container {
  margin-bottom: 1vh;
}

.ui.segment {
  margin-bottom: 0px;
}

@media only screen and (max-width: 767px) {
  .ui.items:not(.unstackable)>.item {
    margin: 0em 0;
  }
}

@media only screen and (min-width: 768px) {
  .ui.items>.item>.image+.content {
    padding: 1em 0 0 1em;
  }
}